mlflow==2.13.2
cffi==1.16.0
cloudpickle==2.2.0
defusedxml==0.7.1
graphviz==0.20.1
lightgbm==2.2.3
matplotlib==3.7.5
numpy==1.23.5
packaging==24.0
pandas==2.2.2
psutil==5.9.8
pyyaml==6.0.1
scikit-learn==1.4.1.post1
scipy==1.11.4
simplejson==3.19.2
uuid==1.30